<a href="https://colab.research.google.com/github/FreMeli/Colab/blob/main/T7_Encontrar_%C3%ADndice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Alumno:**Freya Melissa López Flores

**No. de cuenta:** A225952-0

**Profesor:** Lázaro Bustio Martínez

**Fecha de entrega:** 30/01/2023

**Objetivo:** El objetivo de este programa es  encontrar los índices de los elementos que sean igual a cero en el siguiente array de NumPy:
# Sección nueva
[1 4 0 2 7 9 0 3 0 0 8 0 5 6]

In [ ]:
import numpy as np #se importa la librería numpy 
import pandas as pd #se importa la librería pandas

arr_num=np.array([1, 4, 0, 2, 7, 9, 0, 3, 0, 0, 8, 0, 5, 6]) #creamos el arreglo tipo numpy original
cols=['Col_1'] 
df=pd.DataFrame(arr_num, columns=cols) #Del arreglo numpy creamos un data frame y usamos "cols" para nombrar la columna 
df #imprimimos el df

    Col_1
0       1
1       4
2       0
3       2
4       7
5       9
6       0
7       3
8       0
9       0
10      8
11      0
12      5
13      6

In [ ]:
print (df.index[df['Col_1'] == 0].tolist()) #En la columna llamada "Col_1" buscamos los índices de los valores que sean iguales a 0.
#Con tolist los convertimos en una lista.

[2, 6, 8, 9, 11]

##NOTAS:
**The tolist()** function is used to convert a given array to an ordinary list with the same items, elements, or values.