<a href="https://colab.research.google.com/github/FreMeli/Colab/blob/main/T8_Promedio_Pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Alumno:**Freya Melissa López Flores

**No. de cuenta:** A225952-0

**Profesor:** Lázaro Bustio Martínez

**Fecha de entrega:** 01/02/2023

**Objetivo:** El objetivo de este programa es obtener el promedio de una columna dada en un DataFrame.

##Opción 1

In [ ]:
import numpy as np #se importa la librería numpy 
import pandas as pd #se importa la librería pandas

df1 = pd.DataFrame(np.random.randint(1,20,size=(20, 4)), columns=list('1234')) #Creamos un data frame de numeros random enteros 
df1 #imprimimos el data frame

     1   2   3   4
0   16   5  13   5
1    7  17  19  18
2    5  14   5  14
3    4  16   2  14
4    1  14  13   3
5    4   1   7   7
6   18   9  12  12
7    5  17   7   4
8   16  13  11   8
9   13   4  15   1
10  14   1   7  17
11  15   3   2   1
12  16   7  12  10
13   1  12   4   8
14   2  14   1  16
15  10  17  10   9
16   7  11  18  15
17   9  17  14   8
18   3  19   8   4
19   7  14  12  14

In [ ]:
col=str(input("¿Qué número de columna quieres promediar? ")) #Le pedimos al usuario el número de la columna que quiere promediar
verificador=int(col) #Creamos una variable y le hacemos un cast para hacerla tipo int
if(verificador>4): #Si el usuario mete un número mayor al número de columnas que hay se imprime en pantalla un mensaje de error
  print("Error: Solo hay 4 columnas")
else: #Si mete un número válido entonces calcula el promedio de la columna dada
  print("El promedio es: ", df1[col]. mean ())

¿Qué número de columna quieres promediar? 2
El promedio es:  11.25